<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Olsson.WebApp.SiteMaster" %>


<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Olsson Roofing / Forms</title>

    <asp:PlaceHolder runat="server">
      <%--  <%: Scripts.Render("~/bundles/modernizr") %>--%>
    </asp:PlaceHolder>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  
    <asp:PlaceHolder runat="server" >
        <script>
            var AppPath = '<%=Request.ApplicationPath=="/"? "": Request.ApplicationPath %>';
        </script>
      </asp:PlaceHolder>
    <asp:ContentPlaceHolder ID="HeaderContentPlaceHolder" runat ="server" />
 
      <script>
		$( document ).on( "pagecreate", function() {
			$( "body > [data-role='panel']" ).panel();
			$( "body > [data-role='panel'] [data-role='listview']" ).listview();
		});
		$( document ).one( "pageshow", function() {
			$( "body > [data-role='header']" ).toolbar();
			$( "body > [data-role='header'] [data-role='navbar']" ).navbar();
		});
    </script>

     
    <script src="libs/jqm/url.min.js"></script>
</head>
<body>
        <div data-role="page" class="type-interior" data-theme="a" id="form-list"  data-dom-cache="false" data-ajax-dom-caching="false">

        <div data-role="header" data-theme="b">
            <div class="ui-body">
             <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <a href="#inside-a" class="ui-btn ui-shadow  ui-corner-all ui-btn-inline  ui-icon-bars  ui-btn-icon-notext ui-btn-c">Menu</a>
                        <a href="forms.html" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-arrow-l ui-btn-icon-notext ui-btn-c" rel="external" data-ajax="false" id="formLnk">Previous</a>
                    </div>
                    <div class="ui-block-b"><img src="css/img/olssonLogo-small.png" /></div>
                    <div class="ui-block-c"><span class="ui-btn ui-shadow  ui-corner-all ui-btn-inline  ui-icon-lock  ui-btn-icon-notext ui-btn-c" style="border:0;"></span> Hello <span id="username"></span>!</div>
                </div>
            </div>
        </div>

        <h2>New Record</h2>
        <span id="adminMsg" style="color:red;"></span>
		 <div id="validationMsg" style="color:red;">
            <ul></ul>
        </div>


     <form runat="server" id="dynamicForm">
        <asp:ScriptManager runat="server">

        </asp:ScriptManager>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
   
		 <div id="validationMsgBottom" style="color:red;">
            <ul></ul>
        </div>
		
        <asp:ContentPlaceHolder ID="SideContent" runat="server">
    
        </asp:ContentPlaceHolder>

           <div class="row" style="background:#fff;">
            <div class="col-lg-12">
                <footer>
                    <p style="text-align:right;">&copy; <%=DateTime.Now.Year %> - Olsson Roofing</p>
                </footer>
            </div>
        </div>
  <canvas id="blank" width="320" height="240" style="border:1px solid red;display:none"></canvas>
    </form>

 </div>

     <div data-role="panel" id="inside-a" data-position="left" data-display="overlay" data-theme="b">
        <ul data-role="listview" id="userForms">
            <li data-icon="delete"><a href="#" data-theme="e" data-rel="close"></a> </li>
            <li data-icon="home"><a href="index.html" data-theme="e" data-rel="home" rel="external" data-ajax="false">Home</a> </li>
            <li></li>
            <li><a href="login.html" rel="external" data-ajax="false">Logoff</a></li>
        </ul>
   </div>
</body>
</html>
